.dash {
    box-sizing: border-box;
}

.students {
  max-height: 600px;
  display: inline-block;
  padding: 0px;
  width:20%;
  margin: auto;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 65px;
}

.notes {
  display: inline-block;
  padding: 0px;
  width:80%;
  margin: auto;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 60px;
}

.dash {
 max-width: 1200px;
 margin:auto;
}

@media (max-width: 650px) { 
  .students, .notes {
    display:block;
    width: 100%;
  }
  .students {
  border-bottom: blue solid 6px;
  }
}