.header-bar {
    background-color: #282c34;
    width: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    border-bottom: blue solid 6px;
  }

.dashboard-name {
    color: #61dafb;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 40px;
    display:inline;
    margin: 0px;
}

.logoutB {
    float: right;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 20px;
}