ul {
  list-style-type: none;
  padding: 10px;
}

.studentsListt {
  overflow:  auto;
  max-height: 420px;
  padding: 0px;    
}

.studentButton {
  display: inline-block;
  border: none;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.studentButton:hover,
.studentButton:focus {
  background: #0053ba;
}

.studentButton:focus {
  outline-offset: -4px;
}

.studentButton:active {
  transform: scale(0.99);
}

.cool {
  display: inline;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  background: #282c34;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.cool:hover,
.cool:focus {
  background: #0053ba;
}

.cool:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.cool:active {
  transform: scale(0.99);
}

@media (max-width: 500px) { 
  .studentsListt {
    max-height: 180px;
  } 
}